<!-- Modal -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modal1-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="/img/headshots/ben-hamby.jpg" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Ben Hamby</h1>
                        <h2>Programming Guest</h2>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                  <!--<div class="col-md-3 col-sm-3">
                  </div> -->
                    <div class="col-md-9 col-sm-9">
                        <p>Anime Austin is proud to announce Ben Hamby! Come hang out with him in one of his many fabulous panels.</p>

                        <p>Ben Hamby has had just about every job imaginable. From performing at renaissance festivals, translating comic books, working as a personal chef, cubical farming for major corporations and everything in between; he’s done it all. Ben has a rather obsessive fascination with history, which manifests itself in his popular book series, The Arcana Imperii. His background in improvisational theater and costume creation has allowed him to lecture at anime, gaming, and multimedia conventions about costuming, performing, and anything and everything steampunk. He has a giant laser, wood and leather shop, as well as a wrist mounted flamethrower in his garage.</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3>Get ready for AWESOME...</h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>07 / 15 / 2016</figure>
                                </div>
                                <!--<div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>10:00am</figure>
                                </div>-->
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal1 -->

<!-- Modal -->
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modal2-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="/img/headshots/tyson.jpg" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Tyson Rinehart</h1>
                        <h2>Voice Actor, Writer</h2>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <a href="https://www.facebook.com/TysonRinehartVoiceActor/">Facebook</a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <h3>About Tyson</h3>
                        <p>Between the time when the oceans drank Atlantis, and the rise of the sons of Aryas, there was an age undreamed of. And unto this, Tyson, destined to wear the jeweled crown of Aquilonia upon a troubled brow. It is I, his chronicler, who alone can tell thee of his saga… Let me tell you of the days of high adventure!</p>

                        <p>An avid gamer/nerd, Tyson started doing voice over work with Funimation, and has progressed to ADR scripting as well. His notable VO credits include: DARU in Steins;Gate, GEORG in Eureka Seven:AO, KAGIRI in Karneval, MATSUDA in High School DxD, AUSTRALIA in Hetalia The Beautiful World, OIMO in One Piece, and CABRAKAN in the game Smite. Various other work includes Black Butler, Space Dandy, Deadman Wonderland, Michiko & Hatchin, as well as HUGO and Freddie Mercury Titan in Attack on Titan.</p>

                        <p>His script credits include Attack on Titan, Aqaurion: EVOL, Karneval, Hetalia The Beautiful World, and High School DxD New.</p>

                        <p>Tyson also provides vocals and rhythm guitar for the punk band Bullet Machine. He did the same for the now defunct, WW2 themed punk band The Tommyguns. In the blues-rock, Led Zeppelin-ish band Smokestack Lightning, Tyson sings and plays harmonica.</p>

                        <p>So, did Tyson return the wayward daughter of King Osric to her home. And having no further concern, he and his companions sought adventure in the West. Many wars and feuds did Tyson fight. Honor and fear were heaped upon his name and, in time, he became a king by his own hand… And this story shall also be told.</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                  <div class="row">
                      <div class="col-md-8 col-sm-7">
                          <div class="title"><h3>Get ready for AWESOME...</h3></div>
                      </div>
                      <div class="col-md-4 col-sm-5">
                          <div class="date-time">
                              <div class="date">
                                  <i class="fa fa-calendar"></i>
                                  <figure>07 / 15 / 2016</figure>
                              </div>
                              <!--<div class="time">
                                  <i class="fa fa-clock-o"></i>
                                  <figure>10:00</figure>
                              </div>-->
                          </div>
                      </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal2 -->

<!-- Modal -->
<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="modal3-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="/img/headshots/caitlynn-french-booth.jpg" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Caitlynn French</h1>
                        <h2>Voice Actress</h2>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <a href="http://www.caitlynnfrench.com">Website</a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <h3>About Caitlynn</h3>
                        <p>Ring the bell! Coming to the booth, from Wichita, Kansas, weighing in at (an undisclosed weight, probably less than your figma collection) pounds, It’s Caitlynn French! Caitlynn is new to the scene, having debuted in 2012 as <b>Qumola</b> from <em>Book of Bantorra</em>. She’s ran the ropes and trained hard to conquer roles such as <b>Hana Isuzu</b> (<em>Girls Und Panzer</em>), <b>Matsurika Shinouji</b> (<em>Maria-Holic, Maria-Holic Alive</em>), <b>Tina Sprout</b> (<em>Black Bullet</em>), <b>Mei Tachibana</b> (<em>Say “I love you”</em>), <b>Mio</b> and <b>Midori Nishizono</b> (<em>Little Busters, Little Busters Refrain</em>), <b>Sakura Inami</b> (<em>Beyond the Boundary</em>), <b>Ai Astin</b> (<em>Sunday Without God</em>) and <b>Miyu Edelfelt</b> (<em>Fate/kaleid liner Prisma Illya</em>). She is most known as the voice behind the tiny genius <b>Shiro</b>, 1/2 of the infamous duo in <em>No Game No Life</em>.</p>
                        <p>Caitlynn recuperates from her time in the booth by playing video games, and watching professional wrestling. She goes through grueling vocal conditioning playing tabletop roleplaying games, and screaming obscenities at the TV during Monday Night RAW. When doing none of those, she likes to dress up like a Superhero with Heroes of Texas. It is unconfirmed, but highly suspected, her blood is pure caffeinated Pepsi. Catch more of this rising star on facebook and twitter, and watch as Caitlynn grabs the VO world by the ears and gives it something it won’t soon forget.</p>
                        <p>Want to know more? Go to <a href="http://www.CaitlynnFrench.com">www.CaitlynnFrench.com</a> to check out her resume, demos, work, weekly blog, & social media links.</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3>We look forward to seeing you there.</h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>07 / 15 / 2016</figure>
                                </div>
                                <!--<div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>10:00</figure>
                                </div>-->
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal3 -->

<!-- Modal -->
<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="modal4-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="/img/headshots/mika_thumbnail.jpg" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Mika</h1>
                        <h2>Cosplay Guest</h2>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-9 col-sm-9">
                        <h3>About Mika</h3>
                        <p>Mika Nicole is a professional model, actress, stunt performer, cosplayer, and lover of all things nerdy from Austin, Texas. She has a passion for comics, video games, & scifi and constantly pushes her skills to bring her favorite characters to life in new and unique ways. Mika burst into the cosplay scene in 2006 and began her modeling and acting careers in 2010. She now travels the country as a special guest for conventions showcasing her work, teaching panels, classes, and sharing her passion for nerd culture. Mika's work has been featured all over the internet, in several magazines, on television, and in other media such as: Almost Nerdy, Project Nerd, Samaze Magazine, Cosplay fanatic magazine, and Nerd 411. You can find her work at <a href="http://www.facebook.com/MikaNicoleCosplay">Facebook</a>!</p>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <img class="img-responsive" src="/img/headshots/mika_full.jpg">
                        </div>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3>Meet Mika at Anime Austin this July!</h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>07 / 15 / 2016</figure>
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>10:00</figure>
                                </div>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal4 -->


<!-- Modal 15 -->
<div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="modal5-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="/img/headshots/firaga_fox_and_shinka_studios.jpg" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Firaga Fox & Shinka Studios</h1>
                        <h2>Cosplay Guests</h2>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-9 col-sm-9">
                        <h3>About Firaga Fox & Shinka Studios</h3>
                        <p>Carl Martin and his group Shinka Studios have been a staple of the Texas convention scene for several years. Best known for his appearance on Syfy's Heroes of Cosplay, Carl has been featured in Game Informer, Cosplay in America, and Forbes. In addition to Judging and emceeing cosplay contests across the nation, Carl has also served as a professional cosplay consultant for companies and enjoys participating in charities such as Extra Life.</p>
                        <p>Firaga Fox has been cosplaying for several years now and won several awards, becoming adept in fabric work, prop making, and the overall creation of characters. Growing up a fan of video games, cartoons, and anime, she'll school you in Zelda and Gundam trivia, while splatting you in a match of Splatoon.</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3>Meet us at Anime Austin!</h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>07 / 15 / 2016</figure>
                                </div>
                                <!--<div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>10:00</figure>
                                </div>-->
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal15 -->
